header {
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px;
}
.button {
  font-family: "Inter";
  font-weight: 400;
  width: auto;
  max-width: 150px;
  padding: 6px 14px;
  background: #e26020;
  border: none;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 5px;
}
.hero::before {
  content: "";
  width: 130%;
  height: 130%;
  top: 0%;
  left: 0%;
  z-index: -1;
  filter: blur(70px);
  background-color: #13447e;
  position: absolute;
}
.hero {
  overflow: hidden;
  z-index: 1;
  position: relative;
  background-image: url(../images/bgImg/heroSec.png);
  padding: 48px 24px;
  background-size: cover;
  width: 100%;
}
.hero h1 {
  font-weight: 600;
  font-family: "Inter";
  color: #fff;
  font-size: 34px;
}
.hero p {
  font-weight: 400;
  font-family: "Inter";
  color: #fff;
  width: 400px;
  padding-bottom: 8px;
  font-size: 18px;
}
main .infoName {
  display: flex;
  justify-content: space-between;
}
main .infoName img {
  width: 50%;
}
main .infoName .infoName-right {
  position: relative;
  z-index: 3;
  background-color: #fff;
  left: -1%;
  width: 100%;
  padding: 24px 26px;
  border-radius: 15px;
}
main .infoName .infoName-right p {
  /* color: #fff; */
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
}
.infoName-right-span {
  font-weight: 800;
}
.voucher {
  width: 100%;
  padding: 24px 24px;
  background-image: url(../images/bgImg/heroSec.png);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.voucher::before {
  content: "";
  width: 120%;
  height: 120%;
  top: -10%;
  left: -15%;
  z-index: -1;
  filter: blur(70px);
  background-color: #13447e;
  position: absolute;
}
.voucher p {
  width: 80%;
  color: #fff;
  font-weight: 400;
  font-family: Inter;
  font-size: 24px;
}
.voucher .company-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.voucher .company-logos .logos {
  background-color: #fff;
  width: auto;
  padding: 24px 8px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-logos .logoGoogle {
  background-color: #fff;
  width: auto;
  padding: 12px 8px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-logos .logoGoogle img {
  height: 50px;
  width: 150px;
}
.company-logos .logos img {
  width: 150px;
  height: 30px;
}
.voucher-price {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 50px;
  padding-bottom: 14px;
}
.voucher-price .now-reg {
  background-color: #e26020;
  display: flex;
  justify-content: center;
  padding: 14px 0px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #fff;
}
.voucher-price .now-reg p {
  color: #fff;
  font-family: Inter;
  font-weight: 400;
}
.voucher-price .voucher-price-p {
  color: #fff;
  width: 100%;
}
.voucher-price .voucher-price-p span {
  font-family: Inter;
  font-weight: 800;
  width: 100px;
  font-size: 56px;
  text-align: center;
}
.contact-us {
  padding: 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact-us input {
  color: #fff;
  width: 80%;
  padding: 8px;
  border-radius: 6px;
  border: 0.5px solid #cdcdcd;
}
.contact-us .button-register {
  font-family: "Inter";
  font-weight: 400;
  width: auto;
  max-width: 150px;
  padding: 6px 14px;
  background: #e26020;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.contact-us input::placeholder {
  color: #cdcdcd;
}
@media only screen and (max-width: 1100px) {
  .infoName {
    flex-direction: column;
    align-items: center;
  }
  .infoName img {
    margin-top: 14px;
    width: 100%;
  }
  .voucher {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .voucher p {
    width: 100%;
    text-align: center;
  }
  .company-logos {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    padding: 0 100px 0 100px;
  }
  .voucher-price .voucher-price-p span {
    font-size: 36px;
  }
  .hero p {
    width: 100%;
  }
  .hero {
    text-align: center;
  }
}
@media only screen and (max-width: 840px) {
  .container {
    padding: 0 80px 0 80px;
  }
  .voucher-price .voucher-price-p span {
    font-size: 48px;
  }
  .hero h1 {
    font-size: 24px;
  }
  .hero p {
    font-size: 14px;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav button {
    display: none;
  }
}
@media only screen and (max-width: 660px) {
  .container {
    padding: 0 50px 0 50px;
  }
  nav img {
    width: 95%;
  }
  .infoName-right {
    text-align: center;
    width: 100%;
  }
}
